<%- include('partials/header.ejs'); -%>

<div class="page-container">

    <div class="box" id="heading">
        <span class="edit empty-button-container">
        </span>

        <h1>
            List View
        </h1>

        <button class="edit" onclick="window.location.href='/'">
          <img class="icon return-main" title="go back to main page" src="/assets/icons/return.svg" alt="return to main arrow">
        </button>
    </div>

    <div class="box-container">
        <div class="box">
            <ul class="list">
                <% let alternate = true, showDate = false, date=null %>
                <% for (let item of listItems) { %>
                    <% if (date !== item.date) {showDate = true; alternate = !alternate } %>
                    <% let listClass = alternate ? "list-light-grey" : "list-dark-grey"; %>
                    <% if (item.isItToday) { listClass = "list-yellow" } %>

                    <li class="<%= listClass %> list-item" onclick="redirectToDate('<%= item.dateURL %>')" title="Go to task day">
                        <span class="list-date"><p><%= showDate ? item.date : "" %></p></span>
                        <span class="list-text <%= item.completed ? "item-completed" : "item-todo" %>"><p><%= item.title %></p></span>
                        <span class="list-completed">
                            <% if (item.completed) { %>
                                <form class="edit" action="/return-item/view-list" method="post">
                                    <input type="hidden" name="returnItemId" value="<%= item.id %>">
                                    <button id="return<%=item.id%>" class="edit" type="submit" title="mark as not done">
                                      <img class="icon" src="/assets/icons/return.svg" alt="save image">
                                    </button>
                                </form>
                            <% } else { %>
                                <form action="/check-off/view-list" method="post" class="edit">
                                    <input type="hidden" name="checkOffItemId" value="<%= item.id %>">                                
                                    <button id="checkOff<%=item.id%>" class="edit" type="submit" title="check off item!">
                                      <img class="icon check" src="/assets/icons/tick.svg" alt="save image">
                                    </button>
                                </form>
                            <% } %> 
                        </span>
                    </li>
                    <% showDate = false, date = item.date %>
                <% } %>
            </ul>
        </div>
    </div>
</div>

<script>
    function redirectToDate(date) {
        window.location.href = "/?date=" + encodeURIComponent(date);
    }

    function handleListButton(date, itemDone) {
        if (itemDone) {

        } else {

        }
        window.location.href = "/?date=" + encodeURIComponent(date);
    }


</script>
  
<%- include('partials/footer.ejs'); -%>